/*Mission positions ls*/
.t1 {
	top: 25%;
	left: 38%;
}
.t2 {
	top: 25%;
	left: 29%;
}
.t3 {
	top: 17%;
	left: 21%;
}
.t4 {
	top: 20%;
	left: 13%;
}
.c3 {
	top: 35%;
	left: 18%;
}
.c4 {
	top: 35%;
	left: 8%;
}
.b1 {
	top: 50%;
	left: 38%;
}
.b2 {
	top: 50%;
	left: 27%;
}
.b3 {
	top: 60%;
	left: 14%;
}
.b4 {
	top: 60%;
	left: 3%;
}
