/*Mission positions ls*/
.d1t {
	top: 30%;
	left: 75%;
}
.c1t1 {
	top: 25%;
	left: 70%;
}
.p1t {
	top: 25%;
	left: 80%;
}
.d1m {
	top: 47%;
	left: 80%;
}
.c1m1 {
	top: 44%;
	left: 75%;
}
.c1m2 {
	top: 56%;
	left: 76%;
}
.s1m {
	top: 38%;
	left: 83%;
}
.p1m {
	top: 57%;
	left: 84%;
}
.d1b {
	top: 70%;
	left: 85%;
}
.c1b1 {
	top: 65%;
	left: 80%;
}
.c1b2 {
	top: 75%;
	left: 92%;
}
.p1b {
	top: 65%;
	left: 90%;
}
.d2t {
	top: 35%;
	left: 58%;
}
.c2t1 {
	top: 40%;
	left: 54%;
}
.p2t {
	top: 29%;
	left: 57%;
}
.d2m {
	top: 50%;
	left: 62%;
}
.c2m1 {
	top: 57%;
	left: 70%;
}
.c2m2 {
	top: 45%;
	left: 70%;
}
.c2m3 {
	top: 54%;
	left: 56%;
}
.p2m {
	top: 50%;
	left: 58%;
}
.d2b {
	top: 70%;
	left: 70%;
}
.c2b1 {
	top: 70%;
	left: 58%;
}
.c2b2 {
	top: 75%;
	left: 60%;
}
.s2t {
	top: 36%;
	left: 63%;
}
.s2b {
	top: 70%;
	left: 65%;
}
.p2b {
	top: 65%;
	left: 60%;
}
.d3t {
	top: 20%;
	left: 40%;
}
.p3t {
	top: 23%;
	left: 45%;
}
.c3t1 {
	top: 24%;
	left: 35%;
}
.s3t {
	top: 31%;
	left: 37%;
}
.p3m {
	top: 41%;
	left: 43%;
}
.d3m {
	top: 48%;
	left: 39%;
}
.c3m1 {
	top: 42%;
	left: 33%;
}
.c3m2 {
	top: 47%;
	left: 47%;
}
.c3m3 {
	top: 57%;
	left: 27%;
}
.s3b {
	top: 69%;
	left: 35%;
}
.c3b1 {
	top: 65%;
	left: 23%;
}
.p3b {
	top: 67%;
	left: 52%;
}
.d3b {
	top: 75%;
	left: 24%;
}
.d4t {
	top: 18%;
	left: 22%;
}
.p4t {
	top: 25%;
	left: 16%;
}
.c4t1 {
	top: 30%;
	left: 22%;
}
.s4t {
	top: 25%;
	left: 27%;
}
.p4m {
	top: 49%;
	left: 8%;
}
.d4m {
	top: 37%;
	left: 10%;
}
.c4m1 {
	top: 38%;
	left: 15%;
}
.c4m2 {
	top: 48%;
	left: 15%;
}
.s4m {
	top: 47%;
	left: 20%;
}
.p4b {
	top: 78%;
	left: 6%;
}
.d4b {
	top: 58%;
	left: 10%;
}
.c4b1 {
	top: 53%;
	left: 5%;
}
.c4b2 {
	top: 53%;
	left: 13%;
}
.c4b3 {
	top: 72%;
	left: 16%;
}
